
body {
	background-color: #222;
	color: #EEE;
}

h1 {
	font-family: "Calibri", sans-serif;
}

table {
	margin: 0 40px;
	border-collapse: collapse;
	font-family: "Monaco", "Consolas", monospace;
}

th, td {
	padding: 2px 10px;
	text-align: left;
}

tr + tr th {
	border-top: 1px dotted #333;
}

tr + tr td {
	border-top: 1px dotted #666;
}

th {
	background-color: #444;
}

tr.passed td {
	background-color: #282;
}

tr.failed td {
	background-color: #822;
}
